.chat_wrapper {
  display: flex;
  flex-direction: column;
}

.inputMessage {
  width: 100%;
  height: 50px;
}

.submitButton {
  width: 20%;
  background-color: white;
  border-left: none;
}

.form {
  display: flex;
  margin: 10px 0 0 0;
}

.message {
  border-radius: 5px;
  background-color: white;
  margin: 10px 0 0 0;
  padding: 10px;
}
